instance-id: iid-VM-NAME
network-interfaces: |
 iface eth0 inet static 
 address VM-IP  
 network VM-NET
 netmask VM-MASK  
 broadcast VM-BC  
 gateway VM-GW
bootcmd: 
- ifdown eth0
- ifup eth0 
local-hostname: VM-NAME
